yfinance
pandas
matplotlib
pygame
backtrader
alpaca-py
pytz
numpy
ta
python-dotenv
pytz~=2025.2
numpy~=2.2.5
ta~=0.11.0
python-dotenv~=1.1.0
tzlocal~=5.2
textual[syntax]
plotext
requests
rich
playsound==1.2.2
plotext~=5.3.2
requests~=2.32.3
rich~=14.0.0
pytz
fastparquet
textual-web
openai
soundfile
sounddevice
black
robin_stocks>=2.1
pyperclip
